body {
    font-family:roboto, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

.header {
    background-color: #1F2937;
    padding: 8px 48px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 600;
}

.header-links,
.awesome-subtext {
    font-size: 18px;
    color: #E5E7EB;
}

.awesome {
    font-size: 48px;
    font-weight: 1000;
    color: #F9FAF8;
}

button {
    background-color: #3882F6;
    border-color: #3882F6;
    color: #E5E7EB;
    width: 90px;
    border-radius: 5px;
    padding: 3px 10px;
    font-weight: 600;
    
}

.placeholder {
    color: #E5E7EB;
    background-color: grey;
    min-width: 400px;
    min-height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.top-header {
    display:flex;
    justify-content: space-between;
}

.left-a {
    display: flex;
    flex-direction: column;
    max-width: 450px;
    
    gap: 16px;
}

.a-container {
    display: flex;
    justify-content: center;
    padding: 16px;
    gap: 32px;
}

ul {
    display: flex;
    gap: 16px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

