body {
    font-family:roboto, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    background-color: #1F2937;
    padding: 8px 0;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 600;
}

.header-links,
.awesome-subtext {
    font-size: 18px;
    color: #E5E7EB;
}

.awesome {
    font-size: 48px;
    font-weight: 1000;
    color: #F9FAF8;
}

button {
    background-color: #3882F6;
    border: none;
    
    color: #F9FAF8;
    width: 100px;
    height: 35px;
    border-radius: 5px;
    padding: 3px 10px;
    font-weight: 600;
    
}

.placeholder {
    color: #E5E7EB;
    background-color: grey;
    min-width: 400px;
    min-height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.top-header {
    display:flex;
    justify-content: center;
    padding: 0 17%;
}

.header-links {
    margin-left: auto;
}

.left-a {
    display: flex;
    flex-direction: column;
    max-width: 450px;
    
    gap: 16px;
}

.a-container {
    display: flex;
    justify-content: space-between;
    
    gap: 64px;
    margin: 64px 0;
    padding: 0 17%;
}

ul {
    display: flex;
    gap: 16px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.content {
    flex:1;
}

.info-sect {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 24px;
    min-height: 350px;
    gap: 30px;
}

.info-hero {
    font-size: 36px;
    font-weight: 1000;
    color: #1F2937;
}

.info-boxes {
    display:flex;
    gap: 48px;
    justify-content: space-between;
    align-items: center;
    max-width: 67%;
}

.info-box {
    display: flex;
    flex-direction: column;
    max-width: 150px;
    gap: 12px;
    color: #3d3e41;
}

.info-img {
    width: 150px;
    height: 150px;
    border: 3px solid #3882F6;
    border-radius: 10px;
}

.quote {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 17%;
}

.quote p {
    margin: 0;
    padding: 0;
    max-width: 750px;
    font-style: italic;
    font-size: 36px;
    color: #1F2937;
    font-weight: lighter;
    
}

.quote div {
    align-self: flex-end;
    font-weight: 500;
}

.a-box {
    padding: 0 17%;
    
}

.action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 80px;
    background-color: #3882F6;
    border-radius: 7px;
    margin: 80px 0;
}

.action-call {
    font-weight: bold;
    color:#F9FAF8;
}

.action-subtext {
    color:#E5E7EB;
}

.footer {
    background-color: #1F2937;
    color:#E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
}

.action button {
    border: 2px solid #F9FAF8;
    
}